@{
    ViewData["Title"] = "Curriculum Vitae";
}

<div class="container-fluid border border-light border-2">
    <div class="row h-10">
       <div class="col-4 h-50 bg-black d-block">
       </div>
        <div class="col-8 h-50 bg-white">
        </div>
    </div> 
    <div class="row bg-primary">
        <div class="col-3 offset-2">
            <img src="~/favicon.ico" class="rounded avatar avatar-lg" alt="Alternate Text" />
        </div>
        <div class="col-7">
            <h1 class="fs-1 font-familly">Ibrahima SENE</h1>
            <span class="p-2">Etudiant</span>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-4 h-50 bg-black text-white d-block p-4">
            <h5>Objectif Professionnel</h5>
            Étudiant en licence 3 en Administration
            Économique et Sociale, spécialisé en Économie
            Appliquée, je suis à la recherche d'une
            opportunité professionnelle pour acquérir de
            l'expérience et développer mes compétences
            <hr />


        </div>



        <div class="col-8 h-50">
            <hr/>
            <span class="fw-bold rounded fs-6 p-2 bg-primary text-center">Formation</span>
        </div>
    </div>
</div>
